.card-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  opacity: 1;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.card-container:hover {
    background: rgb(var(--primary) / 0.1);
    
    .title, .link-icon {
        color: rgb(var(--secondary));
    };
    .description {
        color: white;
    }
}

.card-container, .title, .link-icon, .description, .card-container:hover {
    transition: 0.5s;
}

.card-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container-right {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: larger;
  color: white;
}

.secondary-title {
  font-size: large;
  font-style: italic;
}

.description {
  margin-top: 1rem;
}

.tag-container {
    margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  cursor: default;
  color: rgb(var(--secondary));
  background: rgba(var(--primary) / 0.2);

  border: 1px solid rgba(255, 255, 255, 0.08);

  backdrop-filter: blur(4px);
}

.date {
  white-space: nowrap;
}

.image-wrapper {
  position: relative;
  width: 120px;
  height: 60px;
  margin-bottom: 1rem;
}

.image {
  object-fit: cover;
}

.title-and-icon-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
