.card-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    border: solid 1px white;
    transition: 0.3s;
    opacity: 0.7;
}

.card-container:hover {
    opacity: 1;
}

.card-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container-right {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: larger;
    color: white;
}

.secondary-title {
    font-size: large;
    font-style:italic;

}

.description {
    margin-top: 1rem;

}

.tag-container {

}

.tag {}

.date {
    white-space: nowrap;
}

.image-wrapper {
    position: relative;
    width: 120px;
    height: 60px;
    margin-bottom: 1rem;
}

.image {
object-fit: cover;
}