@import "tailwindcss";

:root {
  --background: 31 36 33;      /* #1F2421 */
  --foreground: 190 191 190;   /* #bebfbe */
  --primary: 73 160 120;       /* #49a078 */
  --secondary: 156 197 161;    /* #9CC5A1 */
  --accent: 33 104 105;        /* #216869 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}
