main {
  display: flex;
  overflow: hidden;
  height: 100dvh;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

h2 {
  font-size: large;
  color: white;
}

h3 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

#navigation-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  position: sticky;
  top: 0;
}

#content {
  width: 60%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about-me-text-wrapper {
  transition: 0.5s;
}

.about-me-text-wrapper:hover {
  color: white;
  transition: 0.5s;
}