main {
    display: flex;
    overflow: hidden;
    height: 100dvh;
    justify-content: center;
    padding: 0 3rem;
    gap: 2rem;
}

h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: large;
    color: white;
}


#navigation-panel {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

#scrollable-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#scrollable-section > section {
    min-height:1000px;
}