  main {
    display: flex;
    height: 100dvh;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  h1 {
    font-size: 3.5rem;
    color: white;
    font-weight: bold;
    white-space: nowrap;
  }

  h2 {
    font-size: large;
    color: white;
  }

  h3 {
    font-size: 1.6rem;
    text-align: center;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
  }

  #navigation-panel {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    position: sticky;
    top: 0;
  }

  #content {
    width: 60%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .about-me-text-wrapper {
    transition: 0.5s;
  }

  .about-me-text-wrapper:hover {
    color: white;
    transition: 0.5s;
  }

  .about-me-text-wrapper > p {
    margin-bottom: 1rem;
  }

  @media (max-width: 1000px) {
    main {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      min-height: 100dvh;
      
    }
    #navigation-panel > nav{
      display: none;
    }
    #navigation-panel {
      position: static;
      top: auto;
    }
    #content, #navigation-panel {
      width: 100%;
    }
    h3 {
      position: sticky;
      top: 0;
      z-index: 10;
      background: rgb(var(--color-background)/ 0.95);
    }
  }