main {
  display: flex;
  overflow: hidden;
  height: 100dvh;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: large;
  color: white;
}

h3 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 1rem;
}

#navigation-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

#scrollable-section {
  scroll-behavior: smooth;
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow-y: auto;
  overflow-x: hidden;
}